body {
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    min-height: 100vh;
    background-color: burlywood;
}

.header, .footer {
    height: 40px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header ul {
    display: flex;
    background-color: blueviolet;
    gap: 20px;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one {
    display: flex;
    background-color: brown;
    align-items: center;
}

.two {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: darkmagenta;
}

.two ul {
    background-color: azure;
    display: flex;
}





.one, .two, .three, .four {
    flex: 1;
}