body {
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    min-height: 100vh;
    background-color: burlywood;
}

.header, .footer {
    height: 40px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: blueviolet;
    gap: 20px;
}

.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}










.one, .two, .three, .four {
    flex: 1;
}